body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  color: white;
}

header {
  background: #004D38;
  padding: 25px;
  text-align: center;
}

.container {
  color: rgb(255, 255, 255);
  max-width: 900px;
  margin: 30px auto;
  background: #004D38;
  padding: 30px;
  border-radius: 12px;
}

h2 {
  color: #ffffff;
}

.question {
  margin: 20px 0;
}

button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #008964;
}

.result {
  display: none;
  margin-top: 30px;
}

.club {
  color: black;
  background: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.side {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.25;
}

.left {
  left: 0;
  background-image: url("../img/velo.jpg");
}

.right {
  right: 0;
  background-image: url("../img/photo-1518770660439-4636190af475.jpg");
}

body {
  margin: 0 200px;
}

.profile-item {
  margin-bottom: 15px;
}

.bar {
  width: 100%;
  height: 18px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #a0e6c1, #008964);
  width: 0%;
  transition: 0.6s;
  border-radius: 6px;

}


